/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.question_mark_logo{
    height: 96px;
    width: 96px;
}

.team-wrapper{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-wrapper table{
    width: 100%;
    border-collapse: collapse;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.team-pokemon-wrapper{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width:350px;
    border-radius: 10px;
    padding:8px;
    margin: 3px;
}

.flex-column{
    display:flex;
    flex-direction: column;
    flex-grow:1
}

.flex-row{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}

.pokemon-move-wrapper{
    display:flex;
    flex-direction: column;
    flex-grow:1
}

.pokemon-image-wrapper{
    display:flex;
    flex-direction: column;
    flex-grow:1
}

.pokemon-type-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bubble{
    background-color: white;
    border-radius: 25px;
    border: 1px white solid;
    margin:2.5px;
    width: 150px;
    justify-content: center;
    display: inline-flex;
}

.image-overlay {
    position: relative;
    top: 0;
    left: 0;
}

.pokemon-overlay {
    position: relative;
    top: 0;
    left: 0;
}

.held-item-overlay {
    position: absolute;
    top: 66px;
    left: 66px;
}

.nav-style{
    background-color: #2c7cec;
    margin:10px;
    border: 10px;
}

.body-style{
    margin: 10px;
    background-color: #c2d7fb;
}

.container-style{
    margin:auto;
}

.search-bar{
    display:flex;
}

.search-bar-wrapper{
    padding:10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.pokemon-type-size{
    width: 80px;
    height: 16px;
}

.flash_messages{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display:flex;
    justify-content: center;
}

.button{
    border-radius: 10px;
    margin: 5px;
}

.pokemon-bubble{
    border-radius: 30px;
    margin:5px;
}

.pokemon-favorite-wrapper{
    overflow-x:auto;
    width: 742px;
    margin:auto;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #c2d7fb;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    /*border: 3px solid #c2d7fb;*/
}

.fire{
    background-color: #ec7272;
}

.water{
    background-color: #9abcf4;
}

.electric{
    background-color: #fce29b;
}

.ground{
    background-color: #b48b6d;
}

.grass{
    background-color: #84c474;
}

.ghost {
    background-color: #a283a2;
}

.bug {
    background-color: #b6c067;
}

.rock{
    background-color: #ccc4a7;
}

.steel{
    background-color: #92bbcc;
}

.dragon{
    background-color: #8b93eb;
}

.flying{
    background-color: #acd4f4;
}

.ice{
    background-color: #82e4fc;
}

.fighting{
    background-color: #fca85b;
}

.psychic{
    background-color: #f482a3;
}

.poison{
    background-color: #ba81de;
}

.normal{
    background-color: #bcbcbc;
}

.dark{
    background-color: #8c8183;
}

.fairy{
    background-color: #f4a4f4;
}



