{% extends 'base.html' %}

{% block javascript %}
<script type="text/javascript">
    let pokemon_js = {{ pokemon.asDict()|tojson|safe }};

    // waits for the DOM to load
    $(document).ready(function() {
        pokemon_image = document.getElementById("pokemon-image");

        $(':checkbox').on("change", function(){
            if(this.checked){
                console.log("input checked");
                pokemon_image.src = pokemon_js.shiny_sprites;

                $("#pokemon-form").attr("action", `/pokemon/favorite/${pokemon_js.id}/shiny`);
            }else{
                console.log("unchecked");
                pokemon_image.src = pokemon_js.sprites;
                $("#pokemon-form").attr("action", `/pokemon/favorite/${pokemon_js.id}`);
            }
        });
    });
</script>
{% endblock %}

{% block content %}

<h1> Display pokemon data here</h1>
<div>
    <form id="pokemon-form" action="/pokemon/favorite/{{pokemon.id}}" method="post">
        <img id="pokemon-image" src="{{pokemon.sprites}}">
        <label id="shiny-switch" class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>

        <p>{{pokemon.dex_number}}</p>
        <p>{{pokemon.name}}</p>
        <p>{{pokemon.health_stat}}</p>
        <p>{{pokemon.attack_stat}}</p>
        <p>{{pokemon.defence_stat}}</p>
        <p>{{pokemon.special_att_stat}}</p>
        <p>{{pokemon.special_def_stat}}</p>
        <p>{{pokemon.speed_stat}}</p>
        <p>{{pokemon.type_1}}</p>
        {% if pokemon.type_2 != None %}
        <p>{{pokemon.type_2}}</p>
        {% endif %}

        {% if g.user %}
            {% if pokemon in g.user.favorites %}
                <button>Remove Favorite</button>
            {% else %}
                <button>Favorite</button>
            {% endif %}
        {% endif %}
    </form>
</div>

{% endblock %}
