{% extends 'base.html' %}


{% block content %}

<h1> Profile content here</h1>

<div>
{% for favorite in user.favorite %}
    {% if favorite.shiny %}
    <a href="/pokemon/{{favorite.pokemon.name}}"> <img src="{{favorite.pokemon.shiny_sprites}}"></a>
    {% else %}
    <a href="/pokemon/{{favorite.pokemon.name}}"> <img src="{{favorite.pokemon.sprites}}"></a>
    {% endif %}
{% endfor %}
</div>

{% for team in user.teams %}

    <a href="/teams/{{team.id}}"><p>{{team.name}}</p></a>
    <table>
        <tr>
        {% for entry in [team.pokemon1, team.pokemon2, team.pokemon3, team.pokemon4, team.pokemon5, team.pokemon6] %}
            {% if entry %}
            <td>
                <div>
                    {% if entry.pokemon %}
                    <a href="/pokemon/{{entry.pokemon.name}}"><img src="{{entry.pokemon.sprites}}"></a>
                    {% else %}
                    <img src="/static/images/question_mark.png" style="width:96px;height:96px;">
                    {% endif %}
                    <p>{{entry.move1.name}}</p>
                    <p>{{entry.move2.name}}</p>
                    <p>{{entry.move3.name}}</p>
                    <p>{{entry.move4.name}}</p>

                    <img src="{{entry.held_items.sprites}}">
                </div>
            </td>
            {% else %}
            <td>
                <div>
                    <img src="/static/images/question_mark.png" style="width:96px;height:96px;">
                </div>
            </td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>

{% endfor %}

<div>Create a new Team:</div>
<div>
    <form action="/teams/initialize" method="post">
        <label for="team_name"> Team name: </label>
        <input type="text" id="team_name" name="team_name">
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}