{% extends 'base.html' %}


{% block content %}

<div class="flex-row pokemon-favorite-wrapper">
    {% for fav in user.favorite %}
    {% if fav.shiny %}
    <div class="pokemon-bubble {{fav.pokemon.type_1}}">
        <a href="/pokemon/{{fav.pokemon.name}}"> <img src="{{fav.pokemon.shiny_sprites}}"></a>
    </div>
    {% else %}
    <div class="pokemon-bubble {{fav.pokemon.type_1}}">
        <a href="/pokemon/{{fav.pokemon.name}}"> <img src="{{fav.pokemon.sprites}}"></a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div>
    <form action="/teams/initialize" method="post">
        <label for="team_name"> Create a new Team: </label>
        <input type="text" id="team_name" name="team_name">
        <input type="submit" value="Submit">
    </form>
</div>

{% for team in user.teams %}
<div class="team-wrapper">
    <div>
        <a href="/teams/{{team.id}}"><p>{{team.name}}</p></a>
    </div>
    <div>
        <table>
            <tr class="flex-row">
                {% for entry in [team.pokemon1, team.pokemon2, team.pokemon3] %}
                {% if entry.pokemon %}
                <td class="team-pokemon-wrapper {{entry.pokemon.type_1}}" id="{{entry.pokemon.name}}">
                                    <span class="flex-column">
                                        <div class="image-overlay">
                                            <a href="/pokemon/{{entry.pokemon.name}}"><img class="pokemon-overlay" src="{{entry.pokemon.sprites}}"></a>
                                            <img class="held-item-overlay" src="{{entry.held_items.sprites}}">
                                        </div>
                                    </span>
                    <span class="flex-column">
                                        <span class="bubble">{{entry.move1.name}}</span>
                                        <span class="bubble">{{entry.move2.name}}</span>
                                        <span class="bubble">{{entry.move3.name}}</span>
                                        <span class="bubble">{{entry.move4.name}}</span>
                                    </span>
                    <span class="flex-column">
                                        <img id="{{entry.pokemon.name}}_type_1" src="/static/images/types/{{entry.pokemon.type_1}}.png" class="pokemon-type-size">
                                        {% if entry.pokemon.type_2 %}
                                        <img id="{{entry.pokemon.name}}_type_2" src="/static/images/types/{{entry.pokemon.type_2}}.png" class="pokemon-type-size">
                                        {% endif %}
                                    </span>
                </td>
                {% else %}
                <td class="team-pokemon-wrapper">
                                    <span class="flex-column">
                                        <div class="image-overlay">
                                            <img src="/static/images/question_mark.png" class="question_mark_logo">
                                        </div>
                                    </span>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr class="flex-row">
                {% for entry in [team.pokemon4, team.pokemon5, team.pokemon6] %}
                {% if entry.pokemon %}
                <td class="team-pokemon-wrapper {{entry.pokemon.type_1}}" id="{{entry.pokemon.name}}">
                                <span class="flex-column">
                                    <div class="image-overlay">
                                        <a href="/pokemon/{{entry.pokemon.name}}"><img class="pokemon-overlay" src="{{entry.pokemon.sprites}}"></a>
                                        <img class="held-item-overlay" src="{{entry.held_items.sprites}}">
                                    </div>
                                </span>
                    <span class="flex-column">
                                    <span class="bubble">{{entry.move1.name}}</span>
                                    <span class="bubble">{{entry.move2.name}}</span>
                                    <span class="bubble">{{entry.move3.name}}</span>
                                    <span class="bubble">{{entry.move4.name}}</span>
                                </span>
                    <span class="flex-column">
                                    <img id="{{entry.pokemon.name}}_type_1" src="/static/images/types/{{entry.pokemon.type_1}}.png" class="pokemon-type-size">
                                    {% if entry.pokemon.type_2 %}
                                    <img id="{{entry.pokemon.name}}_type_2" src="/static/images/types/{{entry.pokemon.type_2}}.png" class="pokemon-type-size">
                                    {% endif %}
                                </span>
                </td>
                {% else %}
                <td class="team-pokemon-wrapper">
                                <span class="flex-column">
                                    <div class="image-overlay">
                                        <img src="/static/images/question_mark.png" class="question_mark_logo">
                                    </div>
                                </span>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}