{% extends 'base.html' %}

{% block content %}

<h1> Click a Pokemon to start editing your team! </h1>
<p>{{team.name}}</p>

<a href="/teams/{{team.id}}"><button>Back</button></a>

<div>
    <table>
        <tr>
            {% for n in range(1,7) %}
                {% if team_pokemon[n-1] %}
                <td>
                    {% if team_pokemon[n-1].pokemon %}
                    <a href="/teams/edit/{{team.id}}/{{n}}"><img id="{{team_pokemon[n-1].pokemon.name}}" src="{{team_pokemon[n-1].pokemon.sprites}}"></a>
                    {% else %}
                    <a href="/teams/edit/{{team.id}}/{{n}}"><img src="/static/images/question_mark.png" style="width:96px;height:96px;"></a>
                    {% endif %}
                    <p>{{team_pokemon[n-1].move1.name}}</p>
                    <p>{{team_pokemon[n-1].move2.name}}</p>
                    <p>{{team_pokemon[n-1].move3.name}}</p>
                    <p>{{team_pokemon[n-1].move4.name}}</p>
                    <p>{{team_pokemon[n-1].ability}}</p>
                    <img src="{{team_pokemon[n-1].held_items.sprites}}">
                </td>
                {% else %}
                <td>
                    <a href="/teams/edit/{{team.id}}/{{n}}"><img src="/static/images/question_mark.png" style="width:96px;height:96px;"></a>
                </td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>


{% endblock %}