{% extends 'base.html' %}

{% endblock %}

{% block content %}

<h1> Click a Pokemon to start editing your team! </h1>
<p>{{team.name}}</p>

<a href="/teams/{{team.id}}"><button>Back</button></a>

<div>
    <table>
        <tr>
            {% for entry in [team.pokemon1, team.pokemon2, team.pokemon3, team.pokemon4, team.pokemon5, team.pokemon6] %}
            <td>
                <img id="{{entry.pokemon.name}}" title="{{entry.id}}" src="{{entry.pokemon.sprites}}">
                <p>{{entry.move1.name}}</p>
                <p>{{entry.move2.name}}</p>
                <p>{{entry.move3.name}}</p>
                <p>{{entry.move4.name}}</p>
                <p>{{entry.ability}}</p>
                <img src="{{entry.held_items.sprites}}">
            </td>
            {% endfor %}
        </tr>
    </table>
</div>

<div id="edit_pokemon" style="visibility:hidden">
    <form action="/teams/save/{{team.id}}" method="post">
        <div>
            <label for="pokemon">Choose a Pokemon:</label>
            <select name="pokemon" id="pokemon">
                {% for pokemon in allPokemon%}
                    <option value={{pokemon}}>{{pokemon}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="move_1">Move 1:</label>
            <select name="move_1" id="move_1">
            </select>
        </div>
        <div>
            <label for="move_2">Move 2:</label>
            <select name="move_2" id="move_2">
            </select>
        </div>
        <div>
            <label for="move_3">Move 3:</label>
            <select name="move_3" id="move_3">
            </select>
        </div>
        <div>
            <label for="move_4">Move 4:</label>
            <select name="move_4" id="move_4">
            </select>
        </div>
        <div>
            <label for="held_item">Held Item:</label>
            <select name="held_item" id="held_item">
                {% for item in allItems%}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="ability">Ability:</label>
            <select name="ability" id="ability">

            </select>
        </div>
        <input type="submit" value="Save">
        <div style="visibility:hidden">
            <label for="team_pokemon_id"></label>
            <select name="team_pokemon_id" id="team_pokemon_id">
                {% for id in ids%}
                <option value={{id}}>{{id}}</option>
                {% endfor %}
            </select>
        </div>

    </form>
</div>
{% endblock %}