{% extends 'base.html' %}


{% block content %}

<h1> Team here</h1>

<p> Have an 'if' clause here letting the author/creator of team edit the team</p>

{% if g.user %}
    {% if g.user.id == team.user_id %}
        <p> hi {{g.user.name}}</p>
        <a href='/teams/edit/{{team.id}}'><button>Edit</button></a>
    {% endif %}
{% endif %}

<p>{{team.name}}</p>

<table>
    <tr>
        {% for entry in [team.pokemon1, team.pokemon2, team.pokemon3, team.pokemon4, team.pokemon5, team.pokemon6] %}
        <td>
            <div>
                <a href="/pokemon/{{entry.pokemon.name}}"><img src="{{entry.pokemon.sprites}}"></a>
                <p>{{entry.move1.name}}</p>
                <p>{{entry.move2.name}}</p>
                <p>{{entry.move3.name}}</p>
                <p>{{entry.move4.name}}</p>

                <img src="{{entry.held_items.sprites}}">
            </div>
        </td>
        {% endfor %}
    </tr>
</table>


{% endblock %}